.wrapper{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
}
.navBar{
    display: inline-block !important;
    width: 100% !important;
}
.sideListCSS{
    width: 30%;
}