.wrapper{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.navBar{
    display: inline-block !important;
    width: 100% !important;

}
.sideListCSS{
    width: 30%;
}